body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0px;
}

input, button {
  padding: 8px;
  margin: 5px 0;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}
